.lista-opciones label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 8px;
}

.lista-opciones select{
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
    padding: 24px;
    border: none;
    outline-color: #6278F7;
    font-size: 16px;

}